h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: 200;
    padding-top: 10px;
}

#description{
    border: solid 1px black;
}

body{
    background-color: black;
}

#logo_ephec{
    text-align: center;
    background-color: black;
}

.mx-auto{
    text-align: center;
}

article{
	display: inline;
	height: 600px;
	width: 300px;
	float: left;
	margin: 15px;
	padding: 15px;
}

article img{
	width: 300px;
}

h3{
	font-size: medium;
}